@font-face {
    font-family: "iconfont";
    src: url("/iconfont.ttf");
}

.icon::before {
    font-family: "iconfont";
}

.icon--up::before {
    content: "\E000";
}
.icon--down::before {
    content: "\E001";
}